<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
	<input type="text" name="model[name]" value="Enter Model Name" />
	<input type="text" name="model[pwd]" value="Enter Model Pwd" />
	<input type="text" name="model[email]" value="Enter Model Email" />
	<br/>
	<input type="text" name="time_sheets[user]" value="Enter Timesheet User" />
	<input type="text" name="time_sheets[email]" value="Enter Timesheet Email" />
	<input type="text" name="time_sheets[ay]" value="Enter Timesheet Ay" />
	<input type="submit" value="Submit" />
</form>